<div class="header">
  <div class="nav">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
  <div class="name">
    Jon Gordon
  </div>
</div>
<div class="main">
  <h1>Hello.  My name is Jon Gordon and I develop websites.</h1>
</div>
<div class="footer">
  <a href="#"><img src="https://dl.dropboxusercontent.com/u/86714063/facebook.png"></a>
  <a href="#"><img src="https://dl.dropboxusercontent.com/u/86714063/googleplus.png"></a>
  <a href="#"><img src="https://dl.dropboxusercontent.com/u/86714063/linkedin.png"></a>
  <a href="#"><img src="https://dl.dropboxusercontent.com/u/86714063/twitter.png"></a>
</div>